@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Questrial&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200&display=swap');    

body{
    background-color: black;
    color: white;
    font-family: 'IBM+Plex+Mono', monospace;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
    width: 1110px;
    height: 70px;
    margin: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
} 

.navbar{
    padding-left: 95px;
}

.navbar a{
    color: #9C9C9C;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 1%;
    line-height: 100%;
} 

.navbar a:hover{
    color: white;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 70px;
    padding: 0;
}

.right-section {
    display: flex;
    align-items: center;
    padding-right: 95px;
}  

.right-section img{
    padding-left: 30px;
}  

.main{
    width: 920px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}

.intro{
    width: 538px;
    height: 247px;
    margin-top: 80px;
    gap: 30px;
}
.intro h1{
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 100%;
    color: #FFFFFF;
    padding: 10px 0;
}

.intro p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;
    width: 492px;
    height: 72px;
    gap: 10px;
}

.intro-image img{
    width: 350px;
    height: 350px;
    margin-top: 80px;
    border-radius: 200px;
}

.get-started{
    width: 307.89px;
    height: 63px;
    gap: 10px;
    background-color: #3F8E00;
    border-style: solid;
    border-width: 1px;  
    border-color: #76d825;
    border-radius: 5px;
    box-shadow: 0 8px 30px 0 #408e007c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-style: bold;
    line-height: 100%;
}

.into img{
    padding-left: 10px;
}

.experience{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 920px;
    height: 60px;
}

.experience h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;
    display: block
}   

.work-experience{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
    height: 60px;
}

.work-experience img{
    width: 82.32px;
    height: 20px;
    padding: 20px 38.84px;
    border: 1px solid #1B1B1B;
    border-radius: 5px;
}

.menu-toggle{
    display: none; /* Initially hide the menu toggle icon unless we are on tablet/mobile view */
}

@media (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .navigation {
        width: 100%;
        padding-left: 40px;
    }

    .navbar {
        display: none; /* Hide the navigation links on smaller screens */
        background-color: #1B1B1B;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px 0;
    }

    .menu-toggle{
        display: block; /* Show the menu toggle icon on smaller screens */
        color: #9C9C9C;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar.active {
        display: block;
       
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    .intro {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
    }

    .intro h1 {
        margin: 0;
        padding: 0;
    }
    
    .intro-image img {
        width: 275px;
        height: 275px;
        margin: 25px auto;
        border-radius: 50%;
    }

    .experience {
        width: 100%;
        padding: 0 25px;
    }

    .work-experience {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: auto;
    }

    .work-experience img {
        margin-bottom: 20px;
    }

}